<!DOCTYPE html>
<html>
<body>

<h2>Upload User Data</h2>
<form action="/user/save" method="post" enctype="multipart/form-data">
  Name: <input type="text" name="name"><br>
  Email: <input type="text" name="email"><br>
  Image: <input type="file" name="image"><br>
  Aadhar File: <input type="file" name="aadharFile"><br>
  Voter ID File: <input type="file" name="voterIdFile"><br>
  Pancard File: <input type="file" name="pancardFile"><br>
  <input type="submit" value="Upload">
</form>

</body>
</html>
